/* start global variables */

:root {
    --mainColor: #63ACE5;
    --transparent-color: rgb(15 116 143 / 70%);
    --parag-color: #777;
    --section-padding:60px;
}
/* End global Variables */

/*start Component*/
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px
}

.main-heading h2::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    background: white;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.main-heading p {
    max-width: 500px;
    margin: 30px auto;
    color: var(--Parag-color);
    line-height: 2;
}

.bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
}

.bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
}

 .bullets .active {
    background-color: var(--mainColor);
}

/*end Component*/

/*Start Global Rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {

    padding-left: 15px; 
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
}

/*Small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
   
}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}

/*Large*/
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
}
/*End Global Rules*/


/* start header */

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97.09px;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
    background-color: #a2a2a2;
    
}

header .container .logo img {
    height: 30px;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

header .container nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width:768px) {
    header .container nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media(max-width: 767px) {
    header nav ul {
        display: none;
    }

    header .container nav .toggle-menu:hover + ul {
        display: flex;
        position: absolute;
        top: 100%;
        flex-direction: column;
        width: 100%;
        left: 0;
        opacity: .8;
    }

    header .container nav ul a {
        padding: 15px !important; 
    }
  
}

header nav ul a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition-duration: .3s;
    padding: 40px 10px;
    position: relative;
    z-index: 1;
}

header nav ul a.active ,
header nav ul a:hover {
    color: var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
}

header .container nav .form {
    height: 30px;
    width: 30px;
    margin-left: 30px;
    position: relative;
    border-left: 1px solid white;
}

header .container nav .form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    right: 0;
    font-size: 18px;
}
/* end header */

/*start landing*/
.landing {
    background-image: url(../images/landing.jpg);
    background-color: blue;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}


.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.landing .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}



.landing .text .content {
    max-width: 500px; /*500px*/
    color: white;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 12px;
    line-height: 2;
}

.landing .skip-3 {
    width: 60px;
    height: 20px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 20px;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    display: flex;
    justify-content: space-between;
}

.landing i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);

}

.landing  .change-background {
    color: white;
}

@media (max-width: 767px) {
    .landing  .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}


@media (max-width: 767px) {
    .landing .bullets li{
        width: 15px;
        height: 15px;
    }
}

/*end landing*/

/* start service */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 992px) {
    .services .service-content {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        margin-top: 100px;
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }
}

.services .service {
    display: flex;
}

.services .service i {
    margin-right: 50px;
}

@media (max-width: 991px) {
    .services .service {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .service i {
        margin: 40px 0;
    }
}

.services .service h3 {
    margin-bottom: 30px;
    color: var(--mainColor);
}

.services .service p {
    font-size: 14px;
    color: var(--parag-color);
    line-height: 2;
}
/* end service */


/* start design */
.design {
    height: 600px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
}

.design .image,
.design .text {
    flex: 1;
    position: relative;
    z-index: 1;
}

.design .image  {
    text-align: center;
    top: 150px;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}
.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

.design .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 20px;
}

.design .text ul li {
    padding: 15px 0;
    font-size: 15px;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\F108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* end design */


/* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.portfolio .shuffle .active {
    background-color: var(--mainColor);
    color: white;
}

.portfolio .shuffle li:hover {
    background-color: var(--mainColor);
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(10deg) scale(1.2);
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -ms-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}

.portfolio .imgs-container .box .caption {
    padding: 15px 20px;
    position: absolute;
    background-color: white;
    bottom: -100%;
    width: 100%;
    left: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover .caption h4 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box:hover .caption p {
    color: var(--mainColor);
}

.portfolio .more {
    padding: 10px 15px;
    display: block;
    width: fit-content;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--mainColor);
    color: white;
    margin: 30px auto;
}

/* end portfolio */

/* start video section */

.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    width: 100%;
    text-align: center;
    color: white;
}

@media (max-width:767px) {
    .video .text {
        height: 50%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.video .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

@media (max-width:767px) {
    .video .text h2 {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

.video .text p {
    margin-bottom: 30px;
    font-size: 16px;
}

@media (max-width:767px) {
    .video .text p {
        font-size: 10px;
        margin-bottom: 10px;
    }
}

.video .text button {
    color: white;
    background-color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

@media (max-width:767px) {
    .video .text button {
        padding: 5px 7px;
        font-size: 10px;
    }
}

/* end video section */


/* start about */
.about {
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
}

.about img {
    position: relative;
    top: 120px;
    margin-top: -100px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
        top: 60px;
         margin-top: -50px;  
    }
}
/* end about */

/* start state */
.states {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
    text-align: center;
}

.states::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0  0  0 / 50%);
}

.states .container {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    
}

.states .container .state {
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
}

@media (max-width: 767px) {
    .states .container .state {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .states .container .state {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .states .container .state {
        flex-basis: 25%;
    }
}


.states .container .state i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition-duration: .3s;
}

.states .container .state i:hover {
    cursor: pointer;
    background-color: #fff;
    color: black;
}

.states .container .state .number {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.states .container .state p {
    font-size: 14px;
}

/* end state */

/* start skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .our-skills .container > div{
        flex-basis: 45%;
    }
}

.our-skills .container > div > h3 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}

.our-skills .container > div > p {
    color: var(--parag-color);
    line-height: 2;
    text-align: center;
    margin-bottom: 30px;
}

.our-skills .container .testimonials {
    position: relative;
}

.our-skills .container .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .container .testimonials .content img {
    width: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 60px;
    text-align: center;
}

.our-skills .container .testimonials .content .text {
    border-bottom: 1px solid #e2e2e2;
    line-height: 1.5;
    font-size: 15px;
}

.our-skills .container .testimonials .content .text p {
    color: var(--parag-color);
    text-align: right;
    margin: 10px 0;
    font-size: 13px;

}

@media (max-width: 992px) {
    .our-skills .container .testimonials .content {
        flex-direction: column;
    } 
    .our-skills .container .testimonials .content .text {
        margin: 20px 0;
        text-align: center;
    }

    .our-skills .container .testimonials .content img {
        margin: 0;
    }
}


.our-skills .container .testimonials .bullets {
}

.our-skills .container .testimonials .bullets li{
    border-color: var(--mainColor);
}


@media (max-width: 991px) {
    .our-skills .container .testimonials .bullets {
        margin: 0 0 -10px;
    }
    .our-skills .container .testimonials .bullets li {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 991px) {
    .our-skills .skills {
        margin-top: 30px;
    } 
}


.our-skills .skills .box {
    margin-bottom: 40px;
}

.our-skills .skills .box h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
} 
.our-skills .skills .box .progress-bar{
    height: 25px;
    background-color: #777;
}

.our-skills .skills .box .progress-bar span {
     height: 100%;
     display: block;
     background-color: var(--mainColor);
     position:relative;
}


.our-skills .skills .box .progress-bar span::before {
    content: attr(data-progress);
    background-color: black;
    color: white;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    position: absolute;
    top: -40px;
    right: -20px;
}


.our-skills .skills .box .progress-bar span::after {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: black transparent transparent ;
    position: absolute;
    right: -10px;
    top: -14px;

}
/* end skills */

/* start quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/qupte.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}
.quote .container {
    position: relative;
}
.quote:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
}

.quote q{
    display: block;
    font-size: 30px;
    margin-bottom: 5px;
}

/* end quote */

/* start pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .container .plans {
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
   gap: 30px;
   margin-top: 50px;
}

.pricing .container .plans .plan {
    background-color: #f7f7f7;
    text-align: center;
}

.pricing .container .plans .plan .plan-header {
    padding: 30px 0;
    border-top: 1px solid var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
}

.pricing .container .plans .plan .plan-header h3 {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 10px
}

.pricing .container .plans .plan .plan-header span {
    font-weight: bold;
    font-size: 50px;
}

.pricing .container .plans .plan .plan-header span::before {
    content: "$";
    position: relative;
    font-weight: bold;
    font-size: 16px;
    right: 10px;
    top:-20px
}

.pricing .container .plans .plan .plan-header span::after {
    content: "/Mo";
    position: relative;
    font-weight: bold;
    font-size: 16px;
    right: -10px;
}

.pricing .container .plans .plan ul {
    border-bottom: 1px solid var(--mainColor);
}

.pricing .container .plans .plan ul li {
    padding: 15px;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid var(--mainColor);
    font-size: 16px;

}

.pricing .container .plans .plan ul li:last-child {
    border: none;
}

.pricing .container .plans .plan .plan-footer {
    display: inline-block;
    margin: 20px 0; 
    padding: 10px 15px;
    border: 1px solid var(--mainColor);
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.pricing  .contact-text {

    text-align: center;
    margin: 40px 0 20px;
}


.pricing  > a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: block;
    width: fit-content;
    margin: 0  auto;
    background-color: var(--mainColor);
}
/* end pricing */

/* start subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/qupte.jpg);
    background-size: cover;
}

.subscribe .container {
    position: relative;
    display: flex;
    color: white;
}

@media (max-width: 991px) {
    .subscribe .container  {
        flex-direction: column;
    }
}
.subscribe .container form {
    display: flex;
    width: 500px;
    max-width: 100%;
    margin-right: 50px;
    position: relative;
}

.subscribe .container form input[type = "submit"] {
    width: 130px;
    background-color: var(--mainColor);
    color: white;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}

.subscribe .container form input[type = "email"] {
    width: calc(100% - 130px);
    background-color: transparent;
    border: 1px solid white;
    padding: 20px 20px 20px 60px;
    caret-color: var(--mainColor);  
    border-right: none;
    color: white;
}

.subscribe .container form input::placeholder {
    color: white;
}

.subscribe .container form input[type = "email"]:focus {
    outline: none;
}
.subscribe .container form i {
    position: absolute;
    top: 50%;
    left: 25px;
}

@media (max-width : 991px) {
    .subscribe p {
        margin-top: 30px;
    }
}
/* end subscribe */











































