/* start global variables */

:root {
    --mainColor: #63ACE5;
    --transparent-color: rgb(15 116 143 / 70%);
}
/* End global Variables */

/*start Component*/
.main-heading {
    padding: 100px;
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px
}

.main-heading h2::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    background: white;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.main-heading p {
    max-width: 500px;
    margin: 30px auto;
    color: #777;
}
/*end Component*/

/*Start Global Rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {

    padding-left: 15px; 
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
}

/*Small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
   
}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}

/*Large*/
@media (min-width: 1200px) { 
    .container {
        width: 1170px;
    }
}
/*End Global Rules*/


/* start header */

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97.09px;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
    background-color: #a2a2a2;
    
}

header .container .logo img {
    height: 30px;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

header .container nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width:768px) {
    header .container nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media(max-width: 767px) {
    header nav ul {
        display: none;
    }

    header .container nav .toggle-menu:hover + ul {
        display: flex;
        position: absolute;
        top: 100%;
        flex-direction: column;
        width: 100%;
        left: 0;
        opacity: .8;
    }

    header .container nav ul a {
        padding: 15px !important; 
    }
  
}

header nav ul a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition-duration: .3s;
    padding: 40px 10px;
    position: relative;
    z-index: 1;
}

header nav ul a.active ,
header nav ul a:hover {
    color: var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
}

header .container nav .form {
    height: 30px;
    width: 30px;
    margin-left: 30px;
    position: relative;
    border-left: 1px solid white;
}

header .container nav .form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    right: 0;
    font-size: 18px;
}
/* end header */

/*start landing*/
.landing {
    background-image: url(../images/landing.jpg);
    background-color: blue;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}


.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.landing .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}



.landing .text .content {
    max-width: 500px; /*500px*/
    color: white;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 12px;
    line-height: 2;
}

.landing .skip-3 {
    width: 60px;
    height: 20px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 20px;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    display: flex;
    justify-content: space-between;
}

.landing i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);

}

.landing  .change-background {
    color: white;
}

@media (max-width: 767px) {
    .landing  .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
}


.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .landing .bullets li{
        width: 15px;
        height: 15px;
    }
}

.landing .bullets .active {
    background-color: var(--mainColor);
}
/*end landing*/

/* start service */

/* end service */















































